@model WebApplication2.Models.Book
@{ 
    ViewData["Title"] = "Json Book Catalog";
}

<h2>Count of books:@ViewBag.Books.Count</h2>

@foreach (var book in ViewBag.Books)
{<hr />
 <ul class="list-group">
     <li class="list-group-item disabled"><b>Book Id:</b>   @book.BookId </li>
     <li class="list-group-item"><b>Book Title:</b>  @book.Title </li>
     <li class="list-group-item"><b>Book Description:</b>  @book.Description </li>
     <li class="list-group-item"><b>Book Author:</b>  @book.Author </li>
     <li class="list-group-item"><b>Book Created:</b>  @book.Created </li>
     <li class="list-group-item"><b>Book Genre:</b>  @book.Genre </li>
     <li class="list-group-item"><b>Book IsPaper:</b>  @book.IsPaper </li>
     <li class="list-group-item"><b>Book Languages:</b>  @book.Languages </li>
     <li class="list-group-item"><b>Book Delivery:</b>  @book.Delivery </li>
 </ul>
    
}
