@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @foreach (var item in ViewBag.Books)
        {
            <p>@item.BookId</p>
            <p>@item.Title</p>
            <p>@item.Description</p>
            <p>@item.Author</p>
            <p>@item.Created</p>
            <p>@item.Genre</p>
            <p>@item.IsPapper</p>
            <p>@item.Languages</p>
        }
    </div>
</body>
</html>
