@model lab2.Models.Book


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add New Book", "Add")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPapper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th></th>
        </tr>
    
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Languages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.IsPapper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Delivery)
            </td>

        </tr>
    
    
    </table>
</body>
</html>
