@model IEnumerable<WebBookLibrary.Models.LibraryModels.BookViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-color-light">
    <h2>Welcome to the Library!</h2>
</div>


<div class="row text-color-light">
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Created</th>
                <th>Genre</th>
                <th>Is Paper</th>
                <th>Languages</th>
                <th>Delivery</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaper)
                    </td>
                    <td>
                        @string.Join(", ", item.Languages.Select(x => x.Dialect))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryRequired)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>