@model LibraryEditor.Models.Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change</title>
</head>
<body>
    <div>
        <h3>Сurrent book</h3>
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><p>Author</p></td>
                <td><p>Title</p></td>
                <td><p>Description</p></td>
                <td><p>Created</p></td>
                <td><p>Ganre</p></td>
                <td><p>IsPaper</p></td>
                <td><p>Languages</p></td>
                <td><p>DeliveryRequired</p></td>
            </tr>
            <tr>
                <td><p>@ViewBag.Book.Id</p></td>
                <td><p>@ViewBag.Book.Author</p></td>
                <td><p>@ViewBag.Book.Title</p></td>
                <td><p>@ViewBag.Book.Description</p></td>
                <td><p>@ViewBag.Book.Created.ToString("dd.MM.yyy")</p></td>
                <td><p>@ViewBag.Book.Ganre</p></td>
                <td><p>@ViewBag.Book.IsPaper</p></td>
                <td><p>@ViewBag.Book.Languages</p></td>
                <td><p>@ViewBag.Book.DeliveryRequired</p></td>
            </tr>

        </table>
        <h3>Book editor</h3>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)

            @Html.Label("Author:")
            <br />
            @Html.TextBoxFor(x => x.Author)
            <br />

            @Html.LabelFor(x => x.Title, "Title:")
            <br />
            @Html.TextBoxFor(x => x.Title)
            <br />

            @Html.LabelFor(x => x.Description, "Description:")
            <br />
            @Html.TextAreaFor(x => x.Description, 3, 40, null)
            <br />

            @Html.LabelFor(x => x.Created, "Created:")
            <br />
            <input type="date" name="Created" />
            <br />

            @Html.LabelFor(x => x.Ganre, "Ganre:")
            <br />
            @Html.DropDownListFor(x => x.Ganre, new SelectList(new string[] { "Crime", "Detective", "Science", "Fantasy", "Romance", "Other" }))
            <br />

            @Html.LabelFor(x => x.IsPaper, "IsPaper:")
            <br />
            @Html.CheckBoxFor(x => x.IsPaper, true)
            <br />

            @Html.LabelFor(x => x.Languages, "Languages:")
            <br />
            @Html.ListBoxFor(x => x.Languages, new MultiSelectList(new string[] { "Russian", "English", "France" }))
            <br />

            @Html.LabelFor(x => x.DeliveryRequired, "DeliveryRequired:")
            <br />
            @Html.RadioButtonFor(x => x.DeliveryRequired, true)
            <span>Yes</span>
            @Html.RadioButtonFor(x => x.DeliveryRequired, false)
            <span>No</span>
            <p><input type="submit" value="Send" /></p>
        }
    </div>
</body>
</html>
